.assignatura-box {
  background-color: transparent;
  border: 2.5px solid yellow;
  border-radius: 0px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.assignatura-box:hover {
  background-color: rgba(0, 255, 0, 0.2);
  border-color: limegreen;
}